- var header_class = ""
- if (meas.priority > 0) {header_class = "meas-header-important" }

.header
  %h2
    Measurements
  %h1{class: header_class}
    = meas.name

.content-inner
  %p
    %a{href: "#/measurements/" + meas.name + "/graph", class: "pure-button button-xlarge "}
      Graph
    
    &nbsp;

    %a{href: "#/measurements/" + meas.name + "/history", class: "pure-button button-xlarge "}
      History graph


  %table.pure-table.homeio-table
    %tbody
      %tr
        %td Value
        %td
          = meas.value

          = " = "
    
          = " ( "
          = meas.raw
          = " + "
          = meas.coefficientOffset
          = " ) "
          = " * "
          = meas.coefficientLinear

      %tr
        %td Average value
        %td= meas.currentAvgValue

      %tr
        %td priority
        %td= meas.priority

      %tr
        %td firstTime
        %td= meas.buffer.firstTime

      %tr
        %td count
        %td= meas.buffer.count
