- var header_class = ""
- if (meas.priority > 0) {header_class = "meas-header-important" }

.header
  %h2
    Measurements
  %h1{class: header_class}
    = meas.name

.content
  %table.pure-table.homeio-table
    %tbody
      %tr
        %td Value
        %td
          = meas.value

          = " = "
    
          = " ( "
          = meas.raw
          = " + "
          = meas.coefficientOffset
          = " ) "
          = " * "
          = meas.coefficientLinear


      %tr
        %td priority
        %td= meas.priority

      %tr
        %td firstTime
        %td= meas.buffer.firstTime

      %tr
        %td count
        %td= meas.buffer.count
