.header
  %h2
    Actions
  %h1
    = action.name

.content
  %table.pure-table.homeio-table
    %tbody
      %tr
        %td Name
        %td= action.name

      %tr
        %td executionCount
        %td= action.executionCount

      %tr
        %td failedCount
        %td= action.failedCount

      %tr
        %td lastExecutedAt()
        %td= action.lastExecutedAt

  %p
    %form.pure-form{action: "#/actions/execute", method: "POST"}
      %fieldset
        %legend
          Type master password to execute action

        %input{type: "hidden", name: "name", value: action.name}
        %input{type: "text", name: "password", placeholder: "Type master password"}
        &nbsp;
        %input{type: "text", name: "result", id: 'action-result', placeholder: "Result", disabled: true}
        &nbsp;
        %input{type: "submit", value: "Execute " + action.name, class: "pure-button pure-button-primary action-execute-button"}
        